<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="colorInk" class="print.MultiColorInk"></bean>  
     
    <bean id="blankInk" class="print.BlankWhiteInk"></bean> 
    
    <bean id="A4" class="print.A4Paper"></bean>
    
    <bean id="B5" class="print.B5Paper"></bean> 
    
    <bean id="printer" class="print.Printer">
    	<property name="ink" ref="colorInk"> </property>
    	<property name="paper" ref="A4"></property>
    </bean> 
    
</beans> 